<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>User Activity</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="This is an example dashboard created using build-in elements and components."
    />
    <meta name="msapplication-tap-highlight" content="no" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://unpkg.com/fflate@0.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/fflate@0.8.0/umd/index.js"></script>
    <script src="/static/js/FBXLoader.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://demo.dashboardpack.com/architectui-html-free/main.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body class="user-activity">
    <div
      class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
    >
      {% include 'header.html' %}

      <div class="app-main">
        {% include 'sidebar.html' %}

        <div class="app-main__outer">
          <div class="app-main__inner">
            <div class="progress-chart-container">
              <div class="progress-chart-name">Today's Activity</div>
              <div class="progress-chart">
                <div id="todayActivity" class="progress-bar-container"></div>
                <div class="circle-chart">
                  <div id="goalCircle" class="progress-circle">
                    <div class="progress-circle-inner"></div>
                  </div>

                  <div class="progress-circle-value">
                    <div class="progress-circle-value-text">
                      Goal completion
                    </div>
                    <div id="todayGoalText">0%</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="progress-chart-container">
              <div class="progress-chart-name">Weekly Activity</div>
              <div class="progress-chart">
                <div id="weeklyActivity" class="progress-bar-container"></div>
                <div class="circle-chart">
                  <div id="goalCircle" class="progress-circle">
                    <div class="progress-circle-inner"></div>
                  </div>

                  <div class="progress-circle-value">
                    <div class="progress-circle-value-text">
                      Goal completion
                    </div>
                    <div id="weeklyGoalText">0%</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="progress-chart-container">
              <div class="progress-chart-name">Monthly Activity</div>
              <div class="progress-chart">
                <div id="monthlyActivity" class="progress-bar-container"></div>
                <div class="circle-chart">
                  <div id="goalCircle" class="progress-circle">
                    <div class="progress-circle-inner"></div>
                  </div>

                  <div class="progress-circle-value">
                    <div class="progress-circle-value-text">
                      Goal completion
                    </div>
                    <div id="monthlyGoalText">0%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% include 'footer.html' %}
        </div>
      </div>
    </div>
    <script>
      var user_id = "{{ user_id }}";
      var user_email = "{{ user_email }}";
      
      const todayActivityChartDataUrl = "{% url 'today_activity_chart_data' %}";
      const weeklyActivityChartDataUrl =
        "{% url 'weekly_activity_chart_data' %}";
      const monthlyActivityChartDataUrl =
        "{% url 'monthly_activity_chart_data' %}";
    </script>
    <script src="/static/js/user_dashboard.js"></script>
    <script
      type="text/javascript"
      src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"
    ></script>
    <script src="/static/js/activity.js"></script>


  </body>
</html>
