<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>New Requests</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="This is an example dashboard created using build-in elements and components."
    />
    <meta name="msapplication-tap-highlight" content="no" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://unpkg.com/fflate@0.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/fflate@0.8.0/umd/index.js"></script>
    <script src="/static/js/FBXLoader.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.130.0/examples/js/controls/OrbitControls.js"></script>
    <link
      href="https://demo.dashboardpack.com/architectui-html-free/main.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />

    <style>
        .my-description {
            background: white;
            border: 1px solid #667eea;
        }

        .des-label {
            color: #47523e !important;
            font-size: x-large;
        }

        .upload-files {
            background: white;
            border: 1px solid #667eea;
            border-radius: 5px;
        }

        .submit-btn {
            background-image: linear-gradient(91deg, #650aff, #3068ff);
            font-size: larger;
        }
    </style>
  </head>

  <body class="active_client">
    <div
      class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
    >
      {% include 'header.html' %}

      <div class="app-main">
        {% include 'sidebar.html' %}

        <div class="app-main__outer">

          <div class="row mt-3 ml-4">
            <button style="border: none; background: none; cursor: pointer;" onclick="goBack()">
              <i style="font-size: 1.5em;" class="fas fa-arrow-left"></i>
            </button>
          </div>    

          <div class="row mt-3 mx-4">
            <form id="uploadForm" class="w-100" enctype="multipart/form-data" action="/new-requests/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="des-label" for="description">Description</label>
                    <textarea id="description" name="description" class="my-description form-control" rows="3" required></textarea>
                </div>
                <label class="des-label" for="files">Upload Files</label>
                <div class="form-group">
                    <label class="w-100 upload-files d-flex" for="my_files">
                        <label class="input-group-text form-control" for="inputGroupFile01" style="color: black;"><i style="color: #47523e; margin-top: 13px;" class="metismenu-icon fas fa-upload fa-2x"></i></label>
                        <input type="file" class="form-control" id="inputGroupFile01" name="my_files[]" multiple style="display: none;">
                    </label>
                </div>
                <button type="submit" class="btn btn-primary submit-btn"><b>Submit</b></button>
            </form>
          </div>


        </div>
      </div>
    </div>
    <script src="/static/js/active_client.js"></script>
    <script
      type="text/javascript"
      src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"
    ></script>

    <script>
        var user_id = "{{ user_id }}";
        var user_email = "{{ user_email }}";

        function goBack() {
          // Add your go back functionality here
          window.history.back();
        }
  
    </script>

    <script src="/static/js/modelandc3d.js"></script>
  </body>
</html>
