$color-1: #fff;
$color-2: #000;
$color-3: #3068ff;
$color-4: #650aff;
$color-5: #ff00b8;
$color-6: #04e2e7;
$color-7: #a3a3cc;
$color-8: #47523e;
$color-9: #540000;
$color-9-dull: #3b0b0b;
$color-10: #5f2747;
$color-11: #9d9d9d;
$color-12: #ff0000;
$color-13: #00a6fb;

$primary-color: #060c21;
